body {
	font-family: "Times";
	font-size: 10pt;
	background-color: #ffffff
}

#main #name {
	font-weight: bold;
}

#main #about #me {
	list-style-type: none;
}

#main #now {
	list-style-type: none;
}

#main #past {
	list-style-type: none;
}

#main #contact {
	font: "Courier New"
}
