body {
	font-family: "Times";
	font-size: 10pt;
	background-color: #ffffff
}

#main #name {
	font-weight: bold;
}

ul li {
	list-style: none;
	display: inline;

}

#main #contact {
	font-family: "Courier New";
}
