// SITE WIDE OPTIONS
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: white;
  font-family: sans-serif;
}

// FLEXBOX CONTAINERS USED ACROSS SITE
.container {
  display: flex;
}

// NAVIGATION BAR AT TOP OF EACH PAGE
.topnav {
  overflow: hidden;
  font-size: 1.25em;
}

.topnav ul {
  padding-inline-start: 0;
  position: relative;
  float: left;
  display: block;
  left: 50%;
}

.topnav ul li {
  position: relative; 
  float: left; 
  display: block;
  right: 50%;
  margin: 0 .5em 0 0;
}

.topnav li:last-child {
  margin: 0;
}

.current {
  font-weight: bold;
}

// INDIVIDUAL CONTAINERS AND ELEMENTS
#index {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 15% 0 15%;
}

#research {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 1em;
}

#footer {
  flex-direction: row;
  justify-content: center;
  font-size: .8em;
}

#footer #email {
  font-family: "Courier New", Courier, monospace;
}

#index div {
  padding: 1em;
}

#research li {
  margin: 0 0 1em 0;
}
#research li:last-child {
  margin: 0;
}

@media (max-width:1050px) {
  #index.container {
    display: inline-block;
    margin: 0 10% 0 10%;
  }

  #index.container div {
    padding-bottom: 0em;
    padding-top: 0em;
  }

  #leftcol img {
    margin: auto;
    display: block;
  }
}
