<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico?">
    <meta name=viewport content='width=615'>
  </head>
  <body>
    <div style="width: 75%; height: 100%; margin-top: 5%; margin-bottom: auto; margin-left: auto; margin-right: auto; flex-direction: column;">
      {% include navigation.html -%}
      {{ content }}
      {%- include footer.html -%}
    </div>
    </body>
</html>
